
.site-background{
   padding-top: 10rem;
text-align:center; 
 color:white;
}
.site-btn{
	margin:1.8rem;
	background:#87CEEB;
	border:none;
	border-radius:2rem;
	padding:0.7rem 2.5rem;
	font-size:1rem;
	font-family:var(--Livvic);
	cursor:pointer;
}
.site-btn:hover{
background: transparent;
border: 1px solid white;
color: white;
}

.container-fluid{
overflow:hidden;
}

h1{
	font-family:var(--Lexend);
	font-size:2.5rem;
}
.fill-screen{
	
	background-size: cover;
	background-position: center;
	
	
}
.content-filler{
	min-height: 450px;
	
}
@media (max-width: 350px){
	
.content-filler{
		min-height: 450px;
	}
}
.content-filler-top{
	min-height: 200px;
}

.fixed-attachment{
background-attachment: fixed;
}

.hero
{

font-family: 'Girassol', cursive;
letter-spacing: 0.2px;
position: absolute;
padding-left: 20px;
color: white;
top: 100px;
}
.hero1
{
	text-decoration-line: underline;
font-family: Snell Roundhand,cursive;
 text-shadow: 1px 0 #888888;
 letter-spacing 1px;
 font:weight: 900;
 color: #050517;
 margin-top: 50px;
 margin-left:50px;

}

.para-desc{
	      margin-left:50px;
          padding:1em 0.5em;
          font-size: 1rem;
          line-height: 1.4;
          font-family: 'Poppins', sans-serif;
          color: #050517;
		  font-size: 20px;
        }

.col-md-6
{
	height: 475px;
background-color: #15155c;
color:white;

padding-top:1px;

}

.port-desc h1{
    
	font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;

}

.port-desc p{
	
	font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
	margin-top: 50px;
	margin-left:20px;
	margin-right: 20px;
	line-height: 1.9;
}
@media (max-width: 450px){
	
.port-desc p{
		margin-top:0px;
		margin-left:0px;
	    margin-right:0px;
		height:200px;
	}
}

.hello{
	
	padding-left: 0px;
	padding-right: 0px;
}
.para-desc-blog{
	      line-height: 28px;
             font-weight: 100;
             letter-spacing: -0.003em;
          color: #545b62
		  font-size: 18px;
		  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
        }

.blog{
	margin-left:200px;
	margin-right:200px;"	
}
@media (max-width: 417px){
	
.blog{
		margin-left:20px;
		margin-right:20px;
	}
}
.blog-first-char{
    margin-right: 12px;
	line-height: .83;
	font-size: 66px;
	float: left;
	position: relative;
	letter-spacing: -0.003em;
	color: rgba(41, 41, 41, 1);
	font-style: normal;
					
    font-weight: 400;
}
.head-blog{
	    margin-bottom:20px;
	    line-height: 40px;
		    font-size: 30px;
			font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
			color: rgba(41, 41, 41, 1);
			letter-spacing: 0;
			font-style: normal;
			    font-weight: 400;
}
.blog-body{
	background-color:#e9ecef;
	
}
.single-blog{
	
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	padding: 10px;
	margin-top: 30px;
	background-color: #fff;
}
.blog-text{
font-size: 14px;
text-align:justify;
text-align:justify;
}
.single-blog h5{
	margin-top: 10px;
	font-size: 16px;
	color: black;
}
.single-blog h5 a{
	text-decoration: none;
}
.read-more-btn{
background-image: linear-gradient(to right, #1c03b5,#5c8bef);
padding: 0.7rem 1rem;
border-radius: 2rem;
line-height:20px;
font-size: 14px;
color: #fff;
border: none!important:
cursor: pointer;
}
.read-more-btn:hover{
background-image: linear-gradient(to right, #006417,#00b128);
text-decoration: none;
color: #fff;
}
.blog-site{
	
	
}

.blog-post{
	padding-top: 0px;
	
}
@media (max-width: 417px){
	
.blog-post{
		padding-bottom: 5rem;
	background:white:
	}
}
.blog-content
{
	display:flex;
	
	flex-direction:column;
	text-align:center;
	width:80%;
	margin: 3rem 2rem;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
	
	
}
.blog-index-btn{
	margin:0.8rem;
	background:#87CEEB;
	border:none;
	border-radius:2rem;
	padding:0.2rem 0.5rem;
	font-size:1rem;
	font-family:var(--Livvic);
	cursor:pointer;
}
.container-owl{
	margin: 0 5vw;
}


.site-title{
	margin-top:20px;
	font-size:30px;
	animation-delay: 0.5s;
}
@media (max-width: 417px){
	
.site-title{
		padding-top:70px;
	font-size:15px;
	animation-delay: 0.5s;
	}
}
.site-title2{
	margin-top:20px;
	font-size:40px;
}
@media (max-width: 417px){
	
.site-title2{
		margin-top:20px;
	font-size:25px;
	animation-delay: 0.5s;
	}
}

.admin-top{
	margin-top:150px;
	margin-bottom:170px;
}
.head-corousal{
	 margin-bottom:20px;
	    line-height: 40px;
		    font-size: 30px;
			font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
			color: rgba(41, 41, 41, 1);
			letter-spacing: 0;
			font-style: normal;
			    font-weight: 900;
			
}