{% extends "base.html" %}
{% load static%} 
{% block page_content %}
<div class="container-fluid">
<div class="row row-ewq-height" >
  <div class="col-md-6 fill-screen" style="padding:0">  
  <img class="img-resposive img-fluid fill-screen  " src="{% static 'img/bro.jpg'%}" style="width:100%;"/>
  </div>
  
  <div class="col-md-6" > 
   <div class="port-desc">
   <h1>Aman </h1>
   <p>Down in the south, farmers are keeping a vigil in Bidar, Karnataka, as the desert locusts are expected to arrive through western Maharashtra. Moreover, the locust menace also hit Andhra Pradesh on Thursday. In Tamil Nadu too, swarms of a locust species attacked banana, rubber and other crops in some districts.

These locusts staRajasthan, Jhansi in Uttar Pradesh and Chattarpur district of Madhya Pradesh.
n Rajasthan, with eastward surges across northern India as far as Bihar and Orissa followed by westward movements and a return to Rajasthan on the changing winds associated with the monsoon.</p>
  </div>
  </div>
</div>
</div>
<br><br>
<h1 class="text-center pb-4">Recent Projects</h1>
<div class="container">
<div class="card-deck">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'img/code2.jpg'%}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project1</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Read more</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'img/code2.jpg'%}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project2</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Read more</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'img/code2.jpg'%}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project3</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Read more</a>
  </div>
</div>
</div>
</div>
<br>
<br>


{% endblock %}