{% extends "base.html" %}
{% load static%} 
{% block page_content %}
<div class="container-fluid pt-5">
<div class="row row-ewq-height" >
  <div class="col-md-6 fill-screen " style="padding:0">  
  <img class="img-resposive img-fluid   " src="{% static 'img/aman.jpg'%}" style="width:100%;height:100%;"/>
  </div>
  
  <div class="col-md-6  animated " > 
   <div class="port-desc mt-2">
   <h1>About me </h1>
   <p>Down in the south, farmers are keeping a vigil in Bidar, Karnataka, as the desert locusts are expected to arrive through western Maharashtra. Moreover, the locust menace also hit Andhra Pradesh on Thursday. In Tamil Nadu too, swarms of a locust species attacked banana, rubber and other crops in some districts.

These locusts staRajasthan, Jhansi in Uttar Pradesh and Chattarpur district of Madhya Pradesh.
n Rajasthan, with eastward surges across northern India as far as Bihar and Orissa followed by westward movements and a return to Rajasthan on the changing winds associated with the monsoon. with the monsoon.</p>
  </div>
  </div>
</div>
</div>
<br><br>
<h1 class="text-center mb-0 pb-4">Recent Projects</h1>

 <div class="container ">
  <div class="row animated zoomIn ">
  <div class="col-md-4 mb-5">
   <div class="single-blog">
	    <img  src="{% static 'img/code4.jpg' %}" style="width:100%;" height="200" alt="Card image cap"/>
	    <h5><a href="">Project1</a></h5>
        <p class="blog-text">AWS has significantly more services, and more features within those services, than any other cloud than any other cloud</p>
        <p><a  href={%url 'blog'%}{{key}} class="read-more-btn">Read more</a></p>
   </div>
   </div>
   
   <div class="col-md-4 mb-5">
   <div class="single-blog">
	    <img  src="{% static 'img/code4.jpg' %}" style="width:100%;" height="200" alt="Card image cap"/>
	    <h5><a href="">Project2</a></h5>
        <p class="blog-text">AWS has significantly more services, and more features within those services, than any other cloud than any other cloud</p>
        <p><a  href={%url 'blog'%}{{key}} class="read-more-btn">Read more</a></p>
   </div>
    </div>
     <div class="col-md-4 mb-5">
   <div class="single-blog">
	    <img  src="{% static 'img/code4.jpg' %}" style="width:100%;" height="200" alt="Card image cap"/>
	    <h5><a href="">Project3</a></h5>
        <p class="blog-text">AWS has significantly more services, and more features within those services, than any other cloud than any other cloud</p>
        <p><a  href={%url 'blog'%}{{key}} class="read-more-btn">Read more</a></p>
   </div>
   </div>
   </div>
 
   </div>
 




<br>
<br>


{% endblock %}