{% extends "base.html" %}
{% load static%} 
{% block page_content %}
<div class="container-fluid pt-5">
<div class="row row-ewq-height" >
  <div class="col-md-6 fill-screen " style="padding:0">  
  <img class="img-resposive img-fluid   " src="{% static 'img/aman.jpg'%}" style="width:100%;height:100%;"/>
  </div>
  
  <div class="col-md-6  animated " > 
   <div class="port-desc mt-2">
   <h1>About me </h1>

   <p>
	   I am a passionate software developer with experience in developing cloud native applications. My problem solving skills and hunger to learn new technologies 
	   provide me an edge in adapting to new environments and technologies.
	   Learning is never ending part of life and I welcome every learning opportunity as step to develop new skills and provide value to others. I am also a cyber security researcher
	   and keeps learning about new tools and techniques to provide better security model to application development process.
   </p>
   <p>
	   Aman Chourasiya
   </p>

  </div>
  </div>
</div>
</div>
<br><br>
<h1 class="text-center mb-0 pb-4">Recent Projects</h1>

 <div class="container ">
  <div class="row animated zoomIn ">
  <div class="col-md-4 mb-5">
   <div class="single-blog">
	    <img  src="{% static 'img/code4.jpg' %}" style="width:100%;" height="200" alt="Card image cap"/>
	    <h5><a href="">Project1</a></h5>
        <p class="blog-text">AWS has significantly more services, and more features within those services, than any other cloud than any other cloud</p>
        <p><a  href={%url 'blog'%}{{key}} class="read-more-btn">Read more</a></p>
   </div>
   </div>
   
   <div class="col-md-4 mb-5">
   <div class="single-blog">
	    <img  src="{% static 'img/code4.jpg' %}" style="width:100%;" height="200" alt="Card image cap"/>
	    <h5><a href="">Project2</a></h5>
        <p class="blog-text">AWS has significantly more services, and more features within those services, than any other cloud than any other cloud</p>
        <p><a  href={%url 'blog'%}{{key}} class="read-more-btn">Read more</a></p>
   </div>
    </div>
     <div class="col-md-4 mb-5">
   <div class="single-blog">
	    <img  src="{% static 'img/code4.jpg' %}" style="width:100%;" height="200" alt="Card image cap"/>
	    <h5><a href="">Project3</a></h5>
        <p class="blog-text">AWS has significantly more services, and more features within those services, than any other cloud than any other cloud</p>
        <p><a  href={%url 'blog'%}{{key}} class="read-more-btn">Read more</a></p>
   </div>
   </div>
   </div>
 
   </div>
 




<br>
<br>


{% endblock %}
