{% extends "base.html" %}
{% block nav_item_blog %}active{% endblock nav_item_blog %}
{% load static%} 
{% block page_content %}
<div class="blog-body" >
   <div style=" min-height: 60px;"></div>
   <h2 class="text-center mb-0 head-corousal animated fadeInLeft">All Blogs</h2>
   <div class="container ">
   
  <div class="row animated zoomIn ">
   {% for key,value in data.items %}
   
    
	
	<div class="col-md-4 mb-5">
	<div class="single-blog">
	<img  src="{{value.1.data.file.url}}?tr=h-200,w-364" style="width:100%;" height="200" alt="Card image cap">
	
    <h5><a href={%url 'blog'%}{{key}} >{{value.0.data.text|truncatechars:40}}</a></h5>
    <p class="blog-text">{{value.2.data.text|truncatechars:100}}</p>
    <p><a  href={%url 'blog'%}{{key}} class="read-more-btn">Read more</a></p>
  
	
	</div>
	</div>  
   {% endfor %}
   </div>
    </div>
   </div>
 
   
{% endblock %}



