{% extends "base.html" %}
{% load static%} 
{% block page_content %}
<div class="hello">
<div class="row row-ewq-height" >
  <div class="col-md-6 fill-screen" style="padding:0">  
  <img class="img-resposive img-fluid fill-screen  " src="{% static 'img/bro.jpg'%}" style="width:100%;"/>
  </div>
  
  <div class="col-md-6" > 
   <div class="port-desc">
   <h1>Aman </h1>
   <p>Down in the south, farmers are keeping a vigil in Bidar, Karnataka, as the desert locusts are expected to arrive through western Maharashtra. Moreover, the locust menace also hit Andhra Pradesh on Thursday. In Tamil Nadu too, swarms of a locust species attacked banana, rubber and other crops in some districts.

These locusts started arrirber normal. So far, the locusts have attacked predominately at Dausa in Rajasthan, Jhansi in Uttar Pradesh and Chattarpur district of Madhya Pradesh.

The United Nations’s Food and Agriculture Occessive waves of invasions could be expected until July in Rajasthan, with eastward surges across northern India as far as Bihar and Orissa followed by westward movements and a return to Rajasthan on the changing winds associated with the monsoon.</p>
  </div>
  </div>
</div>
</div.

<div >

<div class="row">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>


{% endblock %}