

         {% extends "base.html" %}
     {% load static%} 
     {% block page_content %}
    
                     
                     
                        <div container-fluid class="blog" >                       
                        <h1 class="text-center head-blog" style="margin-top:70px;">Ethical Hacking: Getting Started</h1>
                    
                     
                   
                       
 
                      <div class="text-center">
                     <figure class="figure">
                     <img src=/static/blog-images/image-3.jpg class="figure-img img-fluid img-thumbnail " style="width:100%;height:70%;"> 
                     <figcaption class="figure-caption text-center">google image</figcaption>
                     </figure>
                     </div>
                     
                     
                    <div class="para-desc-blog">
                    <p ><span class="blog-first-char">P</span>eople, not computers, create computer threats. Computer predators victimize others for their own gain. Give a predator access to the Internet — and to your PC — and the threat they pose to your security increases exponentially. Computer hackers are unauthorized users who break into computer systems in order to steal, change or destroy information, often by installing dangerous malware without your knowledge or consent. Their clever tactics and detailed technical knowledge help them access the information you really do not want them to have</p>
                    </div>
                    
            <ul class="para-desc-blog"><li>C</li><li>C++</li><li>Python</li><li>Bash</li></ul><div style="text-align:center;"> <textarea  style=" width:100%;
    font-size: 0.9rem;" rows="7"  disabled>nmap -sS -O 127.0.0.1
nmap -sS -O 127.0.0.1
nmap -sS -O 127.0.0.1
nmap -sS -O 127.0.0.1
nmap -sS -O 127.0.0.1</textarea></div> <hr style="height:2px;border-width:0;color:gray;background-color:gray"></div>

              {% endblock %}

           